body{
    width:100%;
    /* background-image:url('image/blue.jpg'); */
    background-color:rgb(31, 28, 28);
    color:beige;
    font-family:monospace;
    overflow:hidden;
}

#pleaselogin{
    color:rgb(31, 28, 28);
}
.login-box {
    text-transform: uppercase;
    text-align:center;
    position:relative;
    align-content:center;
    justify-content:center;
    margin-top:50px;
    
    /* left:50%; */
    /* margin-right:50%; */
    /* transform: translate(-50%, -50%); */
}

.logininput {
background-color:white;
padding:70px;
/* width:auto; */
/* width:400px; */
margin:50px 400px 0 400px;


}

#username, #password {
    padding:5px;
    border:10px;
    border-radius:10px;
    font-size:13px;
    width:300px;
    background-color:thistle;
    color:black;
    text-align:center;
}


.in {
    padding:5px;
    margin:4px;
    text-align:center;
    
}

#loginButton, #createButton {
    width:100px;
    height:40px;
    font-size:20px;
    padding:5px;
    border:10px;
    border-radius:10px;
    margin:2px 15px 10px 0;
    background-color:beige;

}

#createButton {
    font-size:13px;
    font-weight:bold;
    margin:2px;
    height:auto;
}