body{
    width:100%;
    margin:0;
    /* background-color:rgb(31, 28, 28); */
    color:rgb(31, 28, 28);;
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color:rgb(31, 28, 28);
}
li {
    border: 1 px solid #bbb;
    /* float:left; */

}

#options > ul > li {
    display:inline-flex;
    flex-direction:row;
    border:5px solid white;
    padding:20px;
    margin:18px;
}

li:last-child {
    border-right: none;
}

li a {

    color:white;
    text-align:center;
    padding: 15px 18px;
    text-decoration:none;
}

#options {
    margin:30px;
    padding:30px;
    width:auto;
    text-align:center;
    align-items:center;
    font-size:13px;
    /* border:1px solid black; */
}

#newR {
    text-align:center;
    border:2px solid gray;
    padding:80px;
}

#formStyle {
    display:flex;
    width:600px;
    margin:auto;
    flex-direction:column;
    text-align:center;
}

#formStyle > input {
    margin:10px;
}

#submitNew{
    align-content:center;
    text-align:center;
}

#locate_verify {
    width:99%;
    /* background-color:gray; */
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
}